Repository SE2-Gruppe-5/risc-game-frontend, pull requests merged in 2025-06, with the labels that each got.

#39 Implementation of fixme Code-Feedback
  app/build.gradle.kts
  app/src/main/java/com/se2gruppe5/risikofrontend/game/GameActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/ReinforcementActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/board/BoardJsonClasses.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/board/BoardLoader.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/board/BoardLoaderAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/board/BoardVisualGeneratorAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/cards/CardHandler.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/cards/ICardHandler.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/TerritoryRecord.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/game/CardRecord.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/game/PlayerRecord.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/game/TerritoryRecord.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/util/Point2D.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/util/Size2D.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/util/Transform2D.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6Cheating.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6Generic.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6Unfair.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/IDice.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/GameManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/GameViewManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/ILine.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/IPointingArrowUI.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/ITerritoryVisual.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/LineAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/PointingArrowAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/TerritoryVisualAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/lobby/LobbyActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/INetworkClient.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/NetworkClient.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/ChangeTerritoryMessage.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/GameStartMessage.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/UpdatePlayersMessage.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/ConstantsUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/ExampleUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/SSEClientUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/board/BoardLoaderUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/cards/CardHandlerUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dataclasses/CardRecordUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dataclasses/PlayerRecordUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dataclasses/TerritoryRecordUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6CheatingUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6GenericUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6UnfairUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/managers/GameManagerUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManagerUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/territory/TerritoryVisualAndroidUnitTest.kt
Labels: chore, frontend

#44 Phone Shake, Camera Flash and Dice-Cheating
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/se2gruppe5/risikofrontend/game/GameActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/DiceVisualAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/IDiceVisual.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/hardware/FlashLightHardwareAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/hardware/IFlashLightHardware.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/hardware/IShakeHardware.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/hardware/ShakeHardwareAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/popup/ShakePhoneAlert.kt
  app/src/main/res/layout/game.xml
Labels: feature, epic, frontend

#47 Cheat accusation
  app/src/main/assets/env
  app/src/main/java/com/se2gruppe5/risikofrontend/Constants.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/GameActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/GameManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/lobby/LobbyActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/INetworkClient.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/NetworkClient.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/MessageType.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/AccuseCheatingMessage.kt
  app/src/main/res/layout/game.xml
  app/src/test/java/com/se2gruppe5/risikofrontend/game/managers/GameManagerUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManagerUnitTest.kt
Labels: feature, frontend

#54 Fixed Card trading
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dialogues/TradeCardDialog.kt
Labels: bug, frontend
