Repository SE2-Gruppe-5/risc-game-frontend, pull requests merged in 2025-05, with the labels that each got.

#13 Territory, Dice and TerritoryManager Foundation
  .github/workflows/build.yml
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/main/assets/external_assets_credits
  app/src/main/java/com/se2gruppe5/risikofrontend/game/GameActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/PlayerRecord.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/TerritoryRecord.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/DiceVisualAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/IDiceVisual.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6Cheating.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6Generic.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6Unfair.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/IDice.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/IPointingArrowUI.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/ITerritoryVisual.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/PointingArrowAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/TerritoryVisualAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/startmenu/MenuActivity.kt
  app/src/main/res/drawable/dice_symbol.xml
  app/src/main/res/layout/game.xml
  app/src/main/res/layout/start_menu.xml
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dataclasses/PlayerRecordUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dataclasses/TerritoryRecordUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dice/DiceVisualAndroidUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6CheatingUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6GenericUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dice/diceModels/Dice1d6UnfairUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManagerUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/territory/TerritoryVisualAndroidUnitTest.kt
  gradle/libs.versions.toml
Labels: feature, frontend

#14 Fixed Error with changeColor
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/TerritoryVisualAndroid.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/territory/TerritoryVisualAndroidUnitTest.kt
Labels: bug

#12 Implement network service and request utility
  app/build.gradle.kts
  app/src/androidTest/java/com/se2gruppe5/risikofrontend/AppendingHandlerTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/assets/env
  app/src/main/java/com/se2gruppe5/risikofrontend/Constants.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/MainActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/SSEClient.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/INetworkClient.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/NetworkClient.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/IMessage.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/MessageType.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/SseClientService.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/SseEventHandler.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/ChatMessage.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/GameStartMessage.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/JoinLobbyMessage.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/LeaveLobbyMessage.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/messages/SetUuidMessage.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/SSEClientUnitTest.kt
  gradle/libs.versions.toml
Labels: feature, frontend

#25 Territory/troop distribution
  app/src/main/assets/env
  app/src/main/java/com/se2gruppe5/risikofrontend/Constants.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/GameManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/INetworkClient.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/NetworkClient.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/ConstantsUnitTest.kt
Labels: feature, frontend

#22 Reinforcement Phase
  app/src/androidTest/java/com/se2gruppe5/risikofrontend/ReinforcementActivityTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/se2gruppe5/risikofrontend/game/ReinforcementActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/TroopNumberAdapter.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/startmenu/MenuActivity.kt
  app/src/main/res/drawable/bar_grey.xml
  app/src/main/res/drawable/circle_count.xml
  app/src/main/res/drawable/circle_green.xml
  app/src/main/res/drawable/circle_red.xml
  app/src/main/res/drawable/selected_card_border.xml
  app/src/main/res/layout/card_i.xml
  app/src/main/res/layout/card_ii.xml
  app/src/main/res/layout/card_iii.xml
  app/src/main/res/layout/reinforcement.xml
  app/src/main/res/layout/troop_selector.xml
  app/src/main/res/layout/troop_selector_number.xml
Labels: feature, frontend

#29 Change http method of assign territories
  app/src/main/java/com/se2gruppe5/risikofrontend/Constants.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/NetworkClient.kt
Labels: bug, backend, frontend

#27 Fixes race condition regarding sse connection
  app/src/main/java/com/se2gruppe5/risikofrontend/MainActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/network/sse/SseClientService.kt
Labels: bug, frontend

#24 Board generation
  .editorconfig
  .gitattributes
  README.md
  app/build.gradle.kts
  app/src/androidTest/java/com/se2gruppe5/risikofrontend/ContinentListAdapterTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/assets/board.json
  app/src/main/java/com/se2gruppe5/risikofrontend/devtools/MapPreviewActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/board/BoardJsonClasses.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/board/BoardLoader.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/board/BoardLoaderAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/board/BoardVisualGeneratorAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/ContinentInfoRecord.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dataclasses/TerritoryRecord.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/enums/Continent.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/GameManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/GameViewManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/popup/ContinentDialog.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/popup/ContinentListAdapter.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/ILine.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/ITerritoryVisual.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/LineAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/territory/TerritoryVisualAndroid.kt
  app/src/main/res/drawable/solid.xml
  app/src/main/res/layout/devtools_map_preview.xml
  app/src/main/res/layout/game.xml
  app/src/main/res/layout/territory_template.xml
  app/src/test/java/com/se2gruppe5/risikofrontend/ContinentInfoTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/board/BoardLoaderUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/board/testBoard.json
  app/src/test/java/com/se2gruppe5/risikofrontend/game/board/testBoardDuplicateConnections.json
  app/src/test/java/com/se2gruppe5/risikofrontend/game/dataclasses/TerritoryRecordUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/managers/GameManagerUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManagerUnitTest.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/territory/TerritoryVisualAndroidUnitTest.kt
  gradle/libs.versions.toml
Labels: feature, frontend

#35 Territory manager tests
  app/build.gradle.kts
  app/src/main/java/com/se2gruppe5/risikofrontend/game/GameActivity.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dialogues/DialogueHandler.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/dialogues/IDialogueHandler.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/GameManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/IToastUtil.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManager.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/ToastUtilAndroid.kt
  app/src/main/java/com/se2gruppe5/risikofrontend/game/managers/ToastUtils.kt
  app/src/test/java/com/se2gruppe5/risikofrontend/game/managers/TerritoryManagerUnitTest.kt
Labels: enhancement, frontend
